<mat-card>
  <mat-card-header>
    <div class="d-flex w-100 justify-content-between align-item-center">
      <div class="d-flex gap-2">
        <h2>Новый документ</h2>
        <mat-form-field>
          <mat-label>Выберите шаблон</mat-label>
          <mat-select (valueChange)="onSelectTemplate($event)">
            <mat-option *ngFor="let temp of templates" [value]="temp">{{
              temp.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="create()">
        Создавать
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="px20" *ngIf="selectedTemplate">
    <form [formGroup]="documentForm">
      <div class="w-100 d-flex justify-content-between">
        <div class="d-flex gap-2">
          <mat-form-field class="w-320p">
            <mat-label>Имя</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
          <mat-form-field class="w-420p">
            <mat-label>Описание</mat-label>
            <input matInput formControlName="description" />
          </mat-form-field>
        </div>
        <div class="d-flex gap-1">
          <button mat-button color="primary" (click)="create()">
            Сохранить как шаблон
          </button>
        </div>
      </div>
      <div class="mb10"><b>Содержание</b></div>
      
      <angular-editor formControlName="content" [config]="editorConfig">
      </angular-editor>

      <div class="d-flex gap-1 align-item-center">
        <h3>Маршруты</h3>
      </div>
      <mat-stepper orientation="vertical" [disableRipple]="true">
        <mat-step *ngFor="let route of selectedTemplate.routes" >
          <ng-template matStepLabel>
            {{ route.name }}
          </ng-template>
          <ng-template matStepContent>
            <div class="d-flex gap-2">
              <div>
                <b>Отделение: </b> <br>
                <span>{{ route.department }}</span>
              </div>
              <div>
                <b>Роль</b> <br>
                <span>{{ route.role }}</span>
              </div>
            </div>
          </ng-template>
        </mat-step>
      </mat-stepper>
    </form>
  </mat-card-content>
</mat-card>
