<mat-card>
  <mat-card-header>
    <div class="d-flex gap-2 w-100 align-item-center">
      <h2>Новый шаблон</h2>

      <button mat-raised-button color="primary" cdkFocusInitial (click)="save()">
        Сохранить
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="px20">
    <form [formGroup]="templateForm">
      <div class="w-100 d-flex justify-content-between">
        <div class="d-flex gap-2">
          <mat-form-field class="w-320p">
            <mat-label>Имя</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
          <mat-form-field class="w-320p">
            <mat-label>Выберите категорию</mat-label>
            <mat-select formControlName="category">
              <mat-option value="Поликлника">Поликлника</mat-option>
              <mat-option value="Университет">Университет</mat-option>
              <mat-option value="Компания">Компания</mat-option>

            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-420p">
            <mat-label>Описание</mat-label>
            <input matInput formControlName="description" />
          </mat-form-field>
        </div>
        <div class="d-flex gap-1">
          <button mat-icon-button (click)="importWordDocument()">
            <img src="assets/word.png" alt="" width="40" height="35" />
          </button>
          <button mat-icon-button>
            <img src="assets/pdf.png" alt="" width="40" height="35" />
          </button>
          <button mat-icon-button>
            <img src="assets/doc_scanner.png" alt="" width="40" height="35" />
          </button>
        </div>
      </div>
      <div class="mb10"> <b>Содержание</b></div>
     
      <angular-editor formControlName="content" [config]="editorConfig" >
        <ng-template #customButtons let-executeCommandFn="executeCommandFn">
          <ae-toolbar-set>
            <ae-button [matMenuTriggerFor]="menu" iconClass="fa fa-pencil-square-o" title="Angular editor logo">
            </ae-button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onClickAddInput(executeCommandFn)">
                Текст
              </button>
              <button mat-menu-item>Число</button>
              <button mat-menu-item>Дата</button>
              <button mat-menu-item>Список</button>
            </mat-menu>
          </ae-toolbar-set>
        </ng-template>
      </angular-editor>

      <div class="d-flex gap-1 align-item-center">
        <h3>Маршруты</h3>
        <button mat-icon-button (click)="addStep()">
          <mat-icon color="primary">add</mat-icon>
        </button>
      </div>
      <mat-stepper orientation="vertical" [disableRipple]="true">
        <mat-step *ngFor="let route of routes.controls; let i = index">
          <div [formGroup]="route">
            <ng-template matStepLabel>
              <input type="text" matInput formControlName="name" placeholder="Введите имя" />
            </ng-template>
            <ng-template matStepContent>
              <div class="d-flex gap-1">
                <mat-form-field>
                  <mat-label>Отделение</mat-label>
                  <mat-select formControlName="department">
                    <mat-option value="Отделение 1">Отделение 1</mat-option>
                    <mat-option value="Отделение 2">Отделение 2</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Роль</mat-label>
                  <mat-select formControlName="role">
                    <mat-option value="Менеджер">Менеджер</mat-option>
                    <mat-option value="Бухгалтер">Бухгалтер</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <p>
                Удалить текущий шаг
                <button mat-icon-button (click)="deleteStep(i)">
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              </p>
            </ng-template>
          </div>

        </mat-step>
      </mat-stepper>
    </form>
  </mat-card-content>
</mat-card>